<div class="height_wid"></div>
<div class="content">

  <nav>
    <div class="title">
      <img src="/img/logo-light.png" alt="" />
    </div>
    <div class="navbar">
      <ul>
        <li>
          <a href="#!">LIVE - Ўйинлар</a>
        </li>
        <li>
          <a href="#!">Мусобақалар</a>
        </li>
        <li>
          <a href="#!">Футбол</a>
        </li>
        <li>
          <a href="#!">Бокс</a>
        </li>
        <li>
          <a href="#!">Бошқалар</a>
        </li>
        <li>
          <a href="#!">Минбар</a>
        </li>
      </ul>
    </div>
    <div class="registr">
      <div class="search_box">
        <div class="search">
          <a href="#!"><i class="fas fa-search"></i></a>
        </div>
        <div class="search">
          <a href="#!"> <i class="fas fa-user"></i></a>
        </div>
        <div class="tappen_searchs">
          <div class="tappen_box">
            <p>UZ</p>
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
      </div>

      <div class="tappens_nav league">
        <div id="league_click" class="league_box">
          <a href="#!">O'zbek tilida </a>
        </div>
        <div id="league_click" class="league_box">
          <a href="#!">Ўзбек тилида</a>
        </div>
        <div id="league_click" class="league_box">
          <a href="#!">На русском </a>
        </div>
        <div id="league_click" class="league_box">
          <a href="#!">English </a>
        </div>
      </div>
    </div>
  </nav>
</div>